Beste {{ subscription.contact.firstName}} {{ subscription.contact.lastName }},
<br>
<p>De dienst is succesvol op de testomgeving van SURFconext geconfigureerd en is aangesloten op
de SURFconext diy en mobile demo IdP. Testen is vanaf nu mogelijk. <br>
Zie de volgende wikipagina’s voor meer informatie over de accounts en attributen die worden geleverd door de SURFconext test/diy IdP:</p>
<b><a href="https://wiki.surfnet.nl/display/surfconextdev/Guest+and+Test+Identity+Providers"> guest and test Identity Providers</a></b>
<br>
<b> <a href="https://idp.diy.surfconext.nl/simplesaml/showusers.php">accounts en attributen </b></a>
<br>
<b><a href="https://wiki.surfnet.nl/display/surfconextdev/Attributes+and+Attribute+Release+Policy+ARP">attributen en ARP</a></b>
<br>
<p>
Configuratie aanpassen? <b><a href="{{ url('subscription', {id: subscription.id} ) }}">Ga naar het formulier.</a></b></p>

Met vriendelijke groet,<br>
<br>
SURFconext
