Beste {{ subscription.contact.firstName}} {{ subscription.contact.lastName }},<br>

<p>Je connectie is bijgewerkt en kan per direct worden getest.</p>

<p> Configuratie aanpassen?
    <b><a href="{{ url('subscription', {id: subscription.id} ) }}">Link naar formulier</a></b>
</p>

Met vriendelijke groet,<br>
<br>
SURFconext
