Dear {{ subscription.contact.firstName}} {{ subscription.contact.lastName }},<br>

<p>Your subscription has been updated and is now available for testing.</p>

<p>Modify configuration?
    <b><a href="{{ url('subscription', {id: subscription.id} ) }}">Link to form</a></b>
</p>

Kind regards,<br>
<br>
SURFconext
