Dear {{ subscription.contact.firstName}} {{ subscription.contact.lastName }},<br>

<p>Hooray, a production request has been sent to the SURFconext team.</p>

<p>If all necessary contracts are in place, we will bring this configuration to the Production environment of SURFconext.</p>

<p><b>Note:</b> make sure to modify the IdP-metadata in your SAML enabled software. Check https://wiki.surfnet.nl/x/Y4McAg </p>


Kind regards,<br>
<br>
SURFconext
