Beste {{ subscription.contact.firstName}} {{ subscription.contact.lastName }},<br>

<p>Bedankt, een productieaanvraag is verstuurd aan het SURFconext Team.</p>

<p>Als alle benodigde contracten in orde zijn brengen we deze instantie naar de Productie omgeving van SURFconext.</p>

<p><b>Let op:</b> Vergeet niet de Productie-metadata in te lezen in de SAML software. Kijk op https://wiki.surfnet.nl/x/Y4McAg voor meer informatie.</p>


Met vriendelijke groet,<br>
<br>
SURFconext