Beste {{ subscription.contact.firstName}} {{ subscription.contact.lastName }},<br>

<p>Bedankt voor uw interesse in SURFconext. Hieronder vindt u de link naar het aansluitformulier, waar u de benodigde informatie kunt invoeren om uw dienst succesvol aan te sluiten op SURFconext.
<br>Bij vragen kan er altijd contact worden opgenomen met support@surfconext.nl. Graag het ticketnummer in de onderwerpregel ongewijzigd laten. </p>

<p>
    <b><a href="{{ url('subscription', {id: subscription.id} ) }}">Link naar formulier</a></b>
</p>

Met vriendelijke groet,<br>
<br>
SURFconext
