<fieldset>
    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.comments, { 'attr': { 'rows': 10 }}) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.comments'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>
