{% extends "base.html.twig" %}

{% block title %}{{ 'thanks.finish.title' }}{% endblock %}
{% block body %}
    <h2>{{ 'thanks.finish.subtitle'|trans }}</h2>

    <p>
        {{ 'thanks.finish.intro'|trans|raw }}
    </p>
{% endblock %}
