.form-control + .form-control-feedback {
    display: block;
    line-height: 34px;
}

.form-group .control-label.required:after {
    content: "*";
    color: red;
    font-weight: bold;
}

#subscription_certificate {
    font-family: monospace;
    font-size: smaller;
    height: 200px;
}

.nav-tabs, .tab-content {
    margin-bottom: 15px;
}

.page-header img {
    display: block;
    margin-bottom: 15px;
}
