Hoi,<br/>

<p>
    Een kopie van het aansluitformulier is verzonden naar {{ subscription.contact.email }} en kan hier worden ingezien/bewerkt:
    <a href="{{ url('subscription', {id: subscription.id} ) }}">{{ subscription.ticketNo }}</a>
</p>

<p>
    Groeten,
</p>

<p>
    SURFconext
</p>
