Hi,<br/>

<p>
    A SP registration has just been finished, the updated metadata is available here:
    <a href="{{ url('export', {id: subscription.id} ) }}">{{ url('export', {id: subscription.id} ) }}</a>
</p>

{% include 'subscription/partials/proplist.html.twig' %}

<p>
    Kind regards,
</p>

<p>
    SURFconext
</p>
