Hi,<br/>

<p>
    A published SP registration has just been updated. <br />
    Link to Janus:
    <a href="{{ url('admin.subscription.janus', {eid: subscription.janusId} ) }}">
        {{ url('admin.subscription.janus', {eid: subscription.janusId} ) }}
    </a>
</p>

{% include 'subscription/partials/proplist.html.twig' %}

<p>Kind regards,</p>
<p>SURFconext</p>
