{% extends "admin/base.html.twig" %}

{% block title %}Subscriptions{% endblock %}

{% block body %}
    {% render controller('AppBundle:Admin/Subscription:grid') %}

    <hr>

    <a href="{{ path('admin.subscription.new') }}" class="btn btn-primary">New</a>
{% endblock %}
