{% extends "admin/base.html.twig" %}

{% block title %}Subscription{% endblock %}

{% block body %}
    {% include 'subscription/partials/proplist.html.twig' %}

    <a href="{{ path('admin.subscription.overview') }}" class="btn btn-default">Back</a>
{% endblock %}
